<nav class="nav-bar">
  <a routerLink="/" class="logo"><img src="assets/logo.svg" alt="logo" routerLinkActive="active-link"></a>
  <a routerLink="/points-table" routerLinkActive="active-link">Points Table</a>
  <a routerLink="/teams" routerLinkActive="active-link">Teams</a>
</nav>
<router-outlet></router-outlet>


<!-- https://www.livescore.com/en/
https://www.figma.com/file/820iku5au8RfJShKHQ2wTR/Cricket-Live-Score-and-Streaming-App-UI-Kit-(Community)?type=design&node-id=747-2845&mode=design&t=jkG1p5snYRwWvjel-0 -->